<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="area-foto">

  <img class="foto-perfil"
    src="https://img.cancaonova.com/cnimages/canais/uploads/sites/6/2018/03/formacao_1600x1200-como-a-presenca-da-mulher-pode-ser-harmonia-no-mundo.jpg">
  <h1>Clara Rodrigues</h1>
  </div>
  <ion-card>
    <ion-card-content>

      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input value="clara@gmail.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Telefone</ion-label>
          <ion-iput value="(21)98280-6125">(21)98280-6125</ion-iput>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
