<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>

      
  
    </ion-list-header>
  
   
  
    <ion-item>
      <ion-label>Modo de pagamento</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Cancelar">
        <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
        <ion-select-option value="cartão">Cartão</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

</ion-content>
