<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro dos Profissionais</ion-title>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  
  <div class="logo">
    <center><img src="../../assets/icon/Logo.png" width="60%" /></center>
  </div>

 

<ion-item>
  <ion-label>E-mail</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">CPF</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input></ion-input>
</ion-item>


<center><ion-button>Cadastrar</ion-button></center>


</ion-content>