<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agenda do profissional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>15/05/2021, 15h</ion-card-subtitle>
    <ion-card-title>Colocação de Janelas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Serviço agendado para o dia 15/05/2021 (Sábado) às 17h, no endereço: Rua das Amendoeiras, n° 320. Observação: Não esqueça de usar máscara no local.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>17/05/2021, 13:00</ion-card-subtitle>
    <ion-card-title>Colocação de Pisos.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Serviço agendado para o dia 17/05/2021 (Segunda Feira) às 15:30h, no endereço: Rua Carlos Alencar, n° 5. Observação: Não esqueça de usar máscara no local.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>25/05/2021, 16:30h</ion-card-subtitle>
    <ion-card-title>Montar um Painel para TV.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Serviço agendado para o dia 25/05/2021 (Terça Feira) às 17:00h, no endereço: Rua Cândido Mendes, n° 124. Observação: Não esqueça de usar máscara no local.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>28/05/2021, 16:30h</ion-card-subtitle>
    <ion-card-title>Colocação de Pisos.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Serviço agendado para o dia 28/05/2021 (Sexta Feira) às 10:00h, no endereço: Rua Santo Antônio, n° 535. Observação: Não esqueça de usar máscara no local.
  </ion-card-content>
</ion-card>